@import "../common/common.css";
@import "./emoji-picker.css";
@import "./screenshot.css";

.view-presentation {
  display: flex;
  flex-direction: column;

  max-height: 95vh;
  overflow: hidden;
}

.view-presentation #emoji-picker-wrapper {
  flex-grow: 1;
  min-height: 0;
}
