.emoji-picker {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  max-height: 80vh;
}

.emoji-picker-content {
  overflow-y: scroll;
  align-self: stretch;
}

.emoji-picker-categories button,
.emoji-picker-category button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 5px;

  font-size: 2.5rem;
}

.emoji-picker-categories {
  background-color: #9b4dca;
  border-radius: 5px;
}

#emoji-picker-wrapper {
  display: none;
}
