@import "./vendor/normalize.css";
@import "./vendor/milligram.css";

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

html {
  height: 100%;
}

.fade-out {
  opacity: 0;
  animation-fill-mode: forwards;
  animation: fade-out 1s linear 0s;
}

button,
.button {
  font-size: 3rem;
  padding: 0 1rem;
  height: initial;
}
