<section class="ask-question-form">
  <header>
    <h2>Ask Question</h2>
  </header>

  <.form :let={f} for={@changeset} phx-change="change" phx-submit="submit">
    <%= label(f, :text) %>
    <%= text_input(f, :text) %>

    <%= submit("✓", disabled: not @changeset.valid?) %>
    <.link navigate={
      Routes.live_path(@socket, TTClientUI.Live.ViewPresentation, @presentation.id)
    }>
      Back
    </.link>

    <h3>Attach Screenshot</h3>
    <%= if @picture do %>
      <p>Selected picture:</p>
      <img src={@picture} class="screenshot" />
      <button type="button" phx-click="remove-screenshot">🗑</button>
    <% else %>
      <%= if @presentation.can_screenshot and @admin_pid != nil do %>
        <.live_component
          id="screenshot-component"
          module={TTClientUI.Live.Components.Screenshot}
          presentation={@presentation}
          admin_pid={@admin_pid}
          mode={:attach}
        />
      <% else %>
        <p>Taking a screenshot is not available at this moment.</p>
      <% end %>
    <% end %>
  </.form>
</section>
