@import "../common/common.css";
@import "./emoji-reaction.css";
@import "./screenshot.css";

.question {
  margin-top: 2.5rem;
  border-bottom: 1px solid #9b4dca;
}

.question:last-of-type {
  border-bottom: none;
}

.answered .question-text {
  text-decoration: line-through;
}

#share-qr {
  display: none;
}
