<section class="create-new-form">
  <header>
    <h2>Create New</h2>
  </header>

  <%= if @loading do %>
    <p>Loading…</p>
  <% else %>
    <.form :let={f} for={@changeset} phx-change="change" phx-submit="submit">
      <%= label(f, :name) %>
      <%= text_input(f, :name, placeholder: "The Joys of Elixir") %>

      <%= submit("Create", disabled: not @changeset.valid?) %>
    </.form>
  <% end %>
</section>
